/*
Creating 4 carousels, 2 for the Moon and 2 for Mars. 
In each case, 1 is for training and the other is for testing. 
We also include 2 pairs of buttons: one for training carousels and the other for testing carousels.
Finally, we create 4 labels to put Image counters, and in the case of testing, their seismic activities. 
*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
	color: #151B54; 
}

.appBackground {
    position: relative;
    background-image: url("../static/background/sun_background_35_percent_opacity.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/********************LOGOS SECTION************************/

.headers-container{
	padding: 7px; /*both images displayed not on the top*/
    display: flex;
    flex-direction: row;
    width: 100%;		

}

.nasa-logo-square {
	padding-right: 550px; /*puts the product logo centered*/
    height: 65px;
    width: 75px;
}

/*
Width is greater.
*/
.product-logo-square {
    height: 130px;
    width: 240px;
		
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/***********TABlE WITH INFORMATION SECTION****************/

/*
table { 

border-spacing: 10px; 

}
*/

th, td { 

       padding: 15px;
       border-bottom: 15px;
       border-top: 5px;

}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/********************TABS SECTION*************************/

/*
  Container for tabs
  Use flex-direction to put all of the elements in column or row
*/
.tabs-container {	
    display: flex;
    flex-direction: column;
    width: 100%;
  	  
	/*  
	position: relative;
    top: 250px;
    right: -420px;
	*/

}

.tab-content {
	
    /*
	Border for tab.
	*/	
    border: 2px solid #007bff;

    padding: 20px;
	
    flex: 1;
    height: 1000px; /* Set a height for scroll */
    overflow: auto; /* Enable scrolling */
	
	/*
	  Removed to put the next one: 
	  background:white;
	*/
	background-color: rgba(255, 255, 255, .5);
	
	opacity: 0;
    transition: opacity 0.999999s ease-in-out;

}

.tab-content.active{
      opacity:1;
}


.controls {
    margin-bottom: 10px;
}

/*Use flex-direction to put all of the elements in column or row*/
.tabs {
	display: flex;
    margin: 20px 0px;
	flex-direction: rows;
	
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/*******************BUTTONS SECTION***********************/

/*
  Space button: 
                https://uiverse.io/StealthWorm/spotty-horse-48 
				https://www.youtube.com/watch?v=wir9j-UrYmw
*/
.tab-button {
  margin-right: 25px; /*
                        Separate buttons, 
                        https://www.quora.com/How-can-I-add-the-space-between-two-buttons-on-a-basic-HTML-document
						*/ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.tab-button:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.tab-button:hover {
  transform: scale(1.1);
}

.tab-button:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.tab-button:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*********************************************************/
/*********************************************************/
/*********************************************************/
/******************carousel SECTION**********************/


.carousel-label2 {
    transform: translateY(140%);
    font-weight: bold;
    font-size: 1.8em;
}

.carousel-label3 {
    transform: translateY(110%);
    font-weight: bold;
    font-size: 1.8em;
}


.carousel-label21 {
    transform: translateY(180%);
    font-weight: bold;
    font-size: 1.3em;
}


.carousel-label31 {
    transform: translateY(180%);
    font-weight: bold;
    font-size: 1.3em;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
	transform: translateY(-3%);
	
}

.carousel-image2 {
    display: none;
    width: 100%;
	transform: translateY(10%);
    
	/*
	Blue border to the images.
	*/
	border: 4px solid #0000ff;
	
}

.carousel-image21 {
    display: none;
    width: 100%;
	transform: translateY(10%);
    
	/*
	Blue border to the images.
	*/
	border: 4px solid #0000ff;
	
}

.carousel-image3 {
    display: none;
    width: 100%;
	transform: translateY(10%);
    
	/*
	Blue border to the images.
	*/
	border: 4px solid #0000ff;
	
}

.carousel-image31 {
    display: none;
    width: 100%;
	transform: translateY(10%);
    
	/*
	Blue border to the images.
	*/
	border: 4px solid #0000ff;
	
}

.carousel-image2.active {	
    display: block;

}

.carousel-image3.active {	
    display: block;

}

.carousel-image21.active {	
    display: block;

}

.carousel-image31.active {	
    display: block;
	
}

.carousel-button {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
	transform: scale(3);    

    /*
	Buttons have a color similar to the background.
	*/
    background-color: rgba(255, 255, 255, 0);
	
    border: none;
    padding: 0px;
    cursor: pointer;
}

.carousel-button:active {
    color: #0000ff;
}

.carousel-button:first-of-type {
    left: 10px;
}

.carousel-button:last-of-type {
    right: 10px;
}

/*------------------------------------------*/

.carousel-button-test {
    position: absolute;
    top: 8%;
    transform: translateY(-50%);
	transform: scale(3);    

    /*
	Buttons have a color similar to the background.
	*/
    background-color: rgba(255, 255, 255, 0);
	
    border: none;
    padding: 0px;
    cursor: pointer;
}

.carousel-button-test:active {
    color: #0000ff;
}

.carousel-button-test:first-of-type {
    left: -30px;
}

.carousel-button-test:last-of-type {
    right: -30px;
}
